body {
  position: relative;
  font-family: 'League Spartan', sans-serif;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

#background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: hsla(0, 0%, 0%, .5);
}

#menu-hamburger:hover, #menu-close:hover, nav > ul > li:hover, li > div > button:hover {
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 4;
}

h1 {
  width: 62px;
  height: 14px;
  order: 2;
  margin: 0 auto;
}

#menu-hamburger {
  width: 20px;
  height: 14px;
}

#menu-close {
  width: 16px;
  height: 16px;
}

nav {
  order: 1;
  display: flex;
  align-items: center;
}

nav.open {
  padding: 3rem 1.5rem;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 3;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

nav > ul > li {
  font-weight: 600;
}

#hero-img-1, #hero-img-2, #hero-img-3 {
  display: block;
}

.img-div, .hero-div {
  position: relative;
}

.slider {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
}

.slider > img {
  background-color: hsl(0, 0%, 0%);
  padding: 1rem;
}

.slider > img:hover {
  background-color: hsl(0, 0%, 27%);
}

#hero-img-1 {
  display: block;
}

.hero-div {
  padding: 3rem 1.5rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-div > div {
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 63%);
  line-height: 1.25rem;
}

.hero-div > button {
  display: flex;
  align-items: center;
}

.hero-div > button:hover {
  color:hsl(0, 0%, 63%);
}

.hero-div > button:hover > svg > path {
  fill: hsl(0, 0%, 63%);
}

.hero-div > button > span {
  letter-spacing: .75rem;
  text-transform: uppercase;
}

.shop-now-arrow {
  width: 40px;
  height: 12px;
  margin-left: .5rem;
}

.about-div > div {
  padding: 3rem 1.5rem;
}

.about-div > div > h3 {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-div > div > div {
  line-height: 1.25rem;
  color: hsl(0, 0%, 63%);
}

@media (min-width: 376px) {
  #hero-img-1 {
    content: url('../images/desktop-image-hero-1.jpg');
  }

  #hero-img-2 {
    content: url('../images/desktop-image-hero-2.jpg');
  }

  #hero-img-3 {
    content: url('../images/desktop-image-hero-3.jpg');
  }
}

@media (min-width: 922px) {
  h1 {
    order: 1;
    margin: 0;
  }

  nav {
    order: 2;
    width: 40%;
  }

  #menu-hamburger, #menu-close {
    display: none;
  }

  nav > ul {
    display: flex;
    margin-left: 2rem;
    align-self: center;
  }

  nav > ul > li {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
  }

  .slider-item {
    display: flex;
  }

  .img-div, .hero-div {
    width: 50%;
  }

  main {
    display: grid;
    grid-template-rows: auto 266px;
    height: 100vh;
  }

  .hero-slider-container, .hero-slider-list, .slider-item {
    height: 100%;
  }

  .img-div {
    width: 65%;
  }

  .hero-div {
    width: 35%;
    padding: 4rem 2rem;
  }

  .slider.desktop {
    right: initial;
    left: 0;
    margin-bottom: 0;
  }

  .about-div {
    height: 266px;
    display: flex;
  }

  #about-light-img, #about-dark-img {
    width: 30%;
    height: 266px;
  }

  .about-div > div {
    height: 100%;
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  nav {
    margin-left: 2rem;
    width: 30%;
  }

  .hero-div, .about-div > div {
    padding: 5rem 2.5rem;
  }

  .about-div > div {
    padding: 3rem;
  }
}